/node_modules
/android/.gradle
/android/build
/android/app/build
/ios/build
/ios/Pods
/vendor/bundle
/coverage

/metro-cache
.bundle/cache

# Env
.env
.env.local

# Local machine
/android/local.properties
/android/release-signing.env
/android/keystores/
/android/*.keystore
/android/*.jks

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
